<p><label>Group name</label><%= text_field_tag 'settings[group_name]', @settings['group_name'] %></p>
<p><label>Manager role</label><%= text_field_tag 'settings[manager_role]', @settings['manager_role'] %></p>
