.studiomobile-calendar { position: relative; }

.dim-screen { display: none; position: absolute; top:0px; left:0px; width: 100%; height: 100%; opacity: 0.6; -moz-opacity: 0.6; filter: alpha(opacity=60); background-color: white; z-index: 1000; }
.dim-screen img { display: block; margin: 200px auto; }

.studiomobile-calendar .filters { border-bottom: 1px solid #CCCCCC; padding-bottom: 14px; margin: 14px 0; }
.studiomobile-calendar .filters .row1 { margin: 0 auto; width: 602px; text-align: right; }

.studiomobile-calendar .calendar-placeholder .navigation { margin: 7px auto; width: 602px; height: 21px; text-align: center; font-weight: bold; }

.studiomobile-calendar .calendar-placeholder table { margin: 0 auto; }
.studiomobile-calendar .calendar-placeholder table thead th { color: #FFFFFF; background-color: #5C9CCC; padding: 3px 0; }
.studiomobile-calendar .calendar-placeholder table thead th.worktime-per-week  { width: 150px; }
.studiomobile-calendar .calendar-placeholder table thead th.worktime-per-month { width: 200px; }

.studiomobile-calendar .calendar-placeholder table tbody td div.cell        { width: 80px; height: 80px; position: relative; background: url(/plugin_assets/redmine_studiomobile_calendar/images/active-work.png) no-repeat 0 80px; }
.studiomobile-calendar .calendar-placeholder table tbody td div.empty       { color: #2E6E9E; background-color: #FFFFFF; border: 1px solid #FFFFFF; }
.studiomobile-calendar .calendar-placeholder table tbody td div.workday     { color: #000000; background-color: #DFEFFC; border: 1px solid #C5DBEC; }
.studiomobile-calendar .calendar-placeholder table tbody td div.weekend     { color: #777777 !important; background-color: #FFFFFF; border: 1px solid #C5DBEC; }
.studiomobile-calendar .calendar-placeholder table tbody td div.vacation    { color: #777777; background-color: #FFFFFF; border: 1px solid #C5DBEC; }
.studiomobile-calendar .calendar-placeholder table tbody td div.sick-leave  { color: #777777; background-color: #FFFFFF; border: 1px solid #C5DBEC; }
.studiomobile-calendar .calendar-placeholder table tbody td div.leave-without-pay    { color: #777777; background-color: #FFFFFF; border: 1px solid #C5DBEC; }
.studiomobile-calendar .calendar-placeholder table tbody td div.today       { border: 1px solid #34B9CB; }

.studiomobile-calendar .calendar-placeholder table tbody td div.cell .cell-icon       { display: none; height: 24px; width: 80px; position: absolute; top: 0; right: 0; }
.studiomobile-calendar .calendar-placeholder table tbody td div.vacation .cell-icon   { display: block; background: url(/plugin_assets/redmine_studiomobile_calendar/images/vacation-icon.png) no-repeat right top; }
.studiomobile-calendar .calendar-placeholder table tbody td div.sick-leave .cell-icon { display: block; background: url(/plugin_assets/redmine_studiomobile_calendar/images/sick_leave-icon.png) no-repeat right top; }
.studiomobile-calendar .calendar-placeholder table tbody td div.leave-without-pay .cell-icon { display: block; background: url(/plugin_assets/redmine_studiomobile_calendar/images/leave_without_pay-icon.png) no-repeat right top; }

.studiomobile-calendar .calendar-placeholder table tbody td div.cell .day   { font-weight: bold; font-size: 40px; text-align: center; padding-top: 14px; }
.studiomobile-calendar .calendar-placeholder table tbody td div.other-month .day { font-weight: normal; font-style: italic; font-size: 10px; padding-top: 34px; }

.studiomobile-calendar .calendar-placeholder table tbody td div.cell ul.status-menu { display: none; position: absolute; bottom: 0; right: 0; list-style-type: none; padding: 0; margin: 2px 2px; }
.studiomobile-calendar .calendar-placeholder table tbody td div.cell:hover ul.status-menu { display: block; }
.studiomobile-calendar .calendar-placeholder table tbody td div.cell ul.status-menu li { float: left; }
.studiomobile-calendar .calendar-placeholder table tbody td div.cell ul.status-menu img { cursor: pointer; display: inline; margin: 0 1px; }

.studiomobile-calendar .calendar-placeholder table tbody td.worktime-per-week  { vertical-align: middle; font-size: 20px; font-weight: bold; padding-left: 7px; }
.studiomobile-calendar .calendar-placeholder table tbody td.worktime-per-month { vertical-align: middle; }
.studiomobile-calendar .calendar-placeholder table tbody td.worktime-per-month .current-worktime { font-size: 16px; font-weight: bold; padding-left: 7px; }
.studiomobile-calendar .calendar-placeholder table tbody td.worktime-per-month .total-worktime   { font-size: 12px; font-style: italic; padding-left: 29px; }

.tt-placeholder {
    background-color:#FFFFFF;
    cursor:default;
    top: 0px;
    border:1px solid #999999;
    margin-top: 15px;
    position: absolute;
    text-align:left;
    width:50%;
    left:25%;
    z-index:1500;
    padding: 25px 25px 20px;
    display: none;
}
.tt-placeholder .tt-popup input[type=text] { outline : none; width:100%}
.tt-placeholder .tt-popup .text-required {border: 1px solid #FF0000;}
.tt-placeholder .tt-popup  table#tt_info {border: 1px solid #000; width:100%; padding-right:5px;}
.tt-placeholder .tt-popup  table#tt_info tr td, table#tt_info tr th {
    padding:0px;
    padding-left:2px;
    padding-right:5px
}
.tt-placeholder .tt-popup  table#tt_info .header {text-align:center; font-weight:bold}
.tt-placeholder .tt-popup  table#tt_info .project_column {width:25%}
.tt-placeholder .tt-popup  table#tt_info .tt_column {width:5%}
.tt-placeholder .tt-popup  table#tt_info .add_tt_column {width:10%}
.tt-placeholder .tt-popup  table#tt_info .comment_column {width:60%}
.tt-placeholder .tt-popup  .buttons_panel {position:absolute; right:10px; top:10px}
